<footer>
    <div class="container-fluid bg-light mt-5">
        <div class="container">
            <div class="row pb-3">
                <div class="col-md-2 mt-3">
                    <h4 class="text-uppercase">TECHGO</h4>
                    <h5>Forward Together</h5>
                    <p>Capstone Project of Web Application Development.<br>
                        Address: 18CLC1-KTPM, University of Natural Sciences, No. 227 Nguyễn
                        Văn Cừ Street, Ward 4, District 5, HCM City, Việt Nam.<br>
                        Phone number: 0123456789<br>
                        Instructors: Trần Thị Bích Hạnh (MSc), Nguyễn Đức Huy (Bsc).
                    </p>
                    <h6>Follow us and keep updated</h6>
                    <i class="fa fa-facebook-official"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-twitter-square"></i>

                </div>
                <div class="col-md-2"></div>
                <div class="col-md-1 my-2 mx-3">
                    <h6>About</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/aboutus" class="link">TechGo</a>
                        </li>
                        <li>
                            <a href="/whyTechGo" class="link">Why?</a>
                        </li>
                        <li>
                            <a href="/delivery" class="link">Delivery</a>
                        </li>
                        <li>
                            <a href="/transport" class="link">Transport</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-1 my-2 mx-3">
                    <h6>Consumer</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/report_incident" class="link">Report accident</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-1 my-2 mx-3">
                    <h6>Driver</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/report_incident" class="link">Report accident</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-1 my-2 mx-3">
                    <h6>Quick links</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/contact" class="link">Contact</a>
                        </li>
                        <li>
                            <a href="/help" class="link">Help</a>
                        </li>
                        <li>
                            <a href="#!" class="link">Hire</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid bg-dark">
        <div class="row text-white">
            <div class="col-2 p-3 ml-5">
                <a href="#" class="policy">Terms and policies</a>
            </div>
            <div class="col-2 p-3 mr-3">
                <a href="#" class="policy">Privacy policy</a>
            </div>
            <div class="col-7 p-3 ml-5 text-secondary">
                &copy; TechGo 2020
            </div>
        </div>
    </div>
</footer>