*{
    box-sizing: border-box;
}

.fb {
    background-color: #3B5998;
    color: white;
}
.gg{
    background-color: #dd4b39;
    color: white;
}
.tt{
    background-color: #55ACEE;
    color: white;
}
.yh{
    background-color: #720e9e;
    color:white;
}


