.fb {
    background-color: #3B5998;
    color: white;
}
.gg{
    background-color: #dd4b39;
    color: white;
}
.tt{
    background-color: #55ACEE;
    color: white;
}
.yh{
    background-color: #720e9e;
    color:white;
}
@media all and (max-width: 480px) {
    .col-3{
        float: left;
    }
}
 
/* Dành cho máy tính bảng */
@media all and (max-width: 1024px) {
    .col-3{
        float: left;
    }
}