<div class="container mt-5">
        <div class="card mx-auto" style="width: 100%;">
            <div class="card-header text-center">Account</div>
            <div class="card-body">
                <nav class="nav">
                    <a class="nav-link" href="/user/profile">Change profile</a>
                    <a class="nav-link" href="/user/password">Change password</a>
                    <a class="nav-link" href="#">Preferences</a>
                    <a class="nav-link" href="#">Notifications</a>
                </nav>
                <hr>
                {{#if message}}
                <div class="row">
                        <div class="col-md-12 alert {{kind}} text-center">
                            {{message}}
                        </div>
                </div>
                {{/if}}

                <form action="#" method="POST">
                    <div class="row mt-5">
                        <div class="col-12 mb-3">
                            <div class="form-group row mb-3">
                                <div class="col-4">
                                    <label for="oldpass">Old password:</label>
                                </div>
                                <div class="col-8">
                                    <input type="password" class="form-control" name="oldpass" id="oldpass" required>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <div class="col-4">
                                    <label for="newpass">New password:</label>
                                </div>
                                <div class="col-8">
                                    <input type="password" class="form-control" name="newpass" id="newpass" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="confirmnew">Confirm new password:</label>
                                </div>
                                <div class="col-8">
                                    <input type="password" class="form-control" name="confirmnew" id="confirmnew" required>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary px-5 mt-3" onclick="location.href='/'"
                            type="button">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary px-5 mt-3">
                            Save changes
                        </button>
                    </div>
                </form>
                
                <hr>

                
                
            </div>
        </div>

    </div>