<div class="container mt-5" style="background-color: #190a70;">
        <div class="card mx-auto" style="width: 100%;">
            <div class="card-header text-center">Reset password</div>
            <div class="card-body">
                {{#if message}}
                <div class="row">
                        <div class="col-md-12 alert {{kind}} text-center">
                            {{message}}
                        </div>
                </div>
                {{/if}}

                
            </div>
        </div>

    </div>