<div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-12">
                <p style="color: white;font-size: 80px;margin: 40px;text-align: center;">TechGo Delivery Service</p>
            </div>
        </div>
        <div class="row rounded mx-auto" style="background-color: white;padding-top: 40px;padding-bottom: 40px;">
            <div class="col-12 col-md-4 " style="text-align: center;">
                <img src="./images/icon-payments.png" width="100vw" height="100vw">
                <h2 class="why">Cost-effective</h2>
                <p class="why"> &emsp; With fixed and transparent fare right on the app, you will pay the exact amount
                    to our shippers without worrying about any surges charges.</p>
            </div>
            <div class="col-12 col-md-4 " style="text-align: center;">
                <img src="./images/icon-shorter_time.png" width="100vw" height="100vw">
                <h2 class="why">Express Service</h2>
                <p class="why"> &emsp; With a lightning-fast delivery service, you will get the items right away.</p>

            </div>
            <div class="col-12 col-md-4 " style="text-align: center;">
                <img src="./images/icon-safety.png" width="100vw" height="100vw">
                <h2 class="why">Credibility</h2>
                <p class="why"> &emsp; Our professional shippers will ensure you get the items as fast as possible with an utmost care.</p>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-12" style="text-align: center;"><a href="/signup" class="btn btn-primary"
                    style="width: 50%;">Register now</a> </div>
        </div>
    </div>