<div class="container">
        <div class="row rounded mx-auto" style="background-color: white;padding-top: 40px;padding-bottom: 40px;">
            <div class="col-12 col-md-4 " style="text-align: center;">
                <img src="/images/road-accident.png" width="100vw" height="100vw">
                <h2 class="why">Accident and Safety</h2>
                <a data-toggle="modal" role="button" class="btn" data-target="#accident">I was in an accident</a>
            </div>
            <div class="modal fade" id="accident">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Being victim of an accident</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>If you and your driver were in an accident, remember to do the followings:</p>
                            
                            
                            <p>Move to safe area away from traffic</p>
                            <p>Seek for medical support by calling <strong>115</strong> if neccessary</p>
                            <p>Report the case to police by calling <strong>113</strong> or appropriate authorities if neccessary</p>
                            <p>Retain all the documents for insurance claim purpose.,e.g police report, medical bills</p>
                            
                        
                    </div>
                            </div>
                            
                </div>
            </div>
            <div class="col-12 col-md-4 " style="text-align: center;">
                <img src="/images/icon-shorter_time.png" width="100vw" height="100vw">
                <h2 class="why"></h2>
                <p class="why"> &emsp; With a lightning-fast delivery service, you will get the items right away.</p>

            </div>
            <div class="col-12 col-md-4 " style="text-align: center;">
                <img src="/images/icon-safety.png" width="100vw" height="100vw">
                <h2 class="why">Credibility</h2>
                <p class="why"> &emsp; Our professional shippers will ensure you get the items as fast as possible with an utmost care.</p>
            </div>
        </div>
        
    </div>