<div class="container mt-5">
        <div class="row rounded mx-auto" style="background-color: white;padding-top: 40px;padding-bottom: 40px;">
            <div class="col-12 col-md-4 " style="text-align: center;">
                <img src="/images/road-accident.png" width="100vw" height="100vw">
                <h2 class="why">Accident and Safety</h2>
                <p data-toggle="modal" role="button" class="btn" data-target="#accident">>>> I had an accident</p>
                <p data-toggle="modal" role="button" class="btn" data-target="#report">>>> I witnessed an accident</p>
            </div>
            <div class="modal fade" id="accident">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Being victim of an accident</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>If you and your driver were in an accident, remember to do the followings:</p>
                            <p><strong class="tab_space">*</strong>Move to safe area away from traffic</p>
                            <p><strong class="tab_space">*</strong>Seek for medical support by calling <strong>115</strong> if neccessary</p>
                            <p><strong class="tab_space">*</strong>Report the case to police by calling <strong>113</strong> or appropriate authorities if neccessary</p>
                            <p><strong class="tab_space">*</strong>Retain all the documents for insurance claim purpose.,e.g police report, medical bills</p>

                         </div>
                    </div>
                            
                </div>
            </div>
            <div class="modal fade" id="report">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Report a serious incident</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>The safety of passengers and drivers on the Grab platform is of utmost priority.</p>
                            <p>Grab does not tolerate any form of inappropriate contact or aggressive behavior, and takes a serious view on any type of harassment or reckless driving which endangers passengers and other road users. Drivers are also expected to respect passenger privacy and to refrain from sending inappropriate messages.</p>
                            <p>If you require emergency assistance of police, please call <strong>113</strong> For medical attention, please call <strong>115</strong></p>
                            <p>Please let us know what happened for urgent assistance!</p>
                            <p>Link to report accident: <a href="#">Click here</a></p>
                         </div>
                    </div>
                            
                </div>
            </div>
            <div class="col-12 col-md-4 " style="text-align: center;">
                <img src="/images/getstarted.jpg" width="100vw" height="100vw">
                <h2 class="why">Get Started</h2>
                <p class="why" data-toggle="modal" role="button" class="btn" data-target="#create">>>> How to create an account</p>
                <p class="why" data-toggle="modal" role="button" class="btn" data-target="#forget">>>> I don't remember my password</p>
            </div>
            <div class="modal fade" id="create">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">How to sign up for a new account</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Please visit website TechGo, hover the Account icon, select Sign up</p>   
                            <p>Then follow the below steps to register your new Techgo account</p>
                            <p>1. Fill information</p>
                            <p>2. When registering successfull, please log in immediately</p>
                            <p>After that, you will be able to use TechGo!</p>
                            <p>If you need more information or concern, kindly let us know from Contact Us. Thank you for choosing TechGo and enjoy our best services!</p>
                        </div>
                    </div>       
                </div>
            </div>
            <div class="modal fade" id="forget">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Restore your password</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>If you forget your password to log in your account, please do some following steps:</p>   
                            <p>1. Hover account icon, select Sign in</p>
                            <p>2. Click forgot password? Type your email</p>
                            <p>3. Open your mail inbox (and spam), you will see title mail named "Reset password", open and click the link to reset</p>
                            <p>4. Type new password twice, then submit</p>
                            <p>5. If resetting password successfully, please log in again. That's all!</p>
                            <p>If you need more information or concern, kindly let us know from Contact Us. Thank you for choosing TechGo and enjoy our best services!</p>
                        </div>
                    </div>       
                </div>
            </div>
            <div class="col-12 col-md-4 " style="text-align: center;">
                <img src="/images/ridebooking.png" width="100vw" height="100vw">
                <h2 class="why">Ride booking issue</h2>
                <p class="why" data-toggle="modal" role="button" class="btn" data-target="#ride">>>> I can't get a ride</p>
            </div>
            <div class="modal fade" id="ride">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Why I can't get a ride</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>We’re sorry that your booking hasn’t been accepted yet! Please be assured that you haven’t been charged.</p>   
                            <p>We understand that waiting for a ride can be frustrating. To improve your chances of getting a ride, here’s what you can do in these situations:</p>
                            <h5>There is high demand in your area at the time of booking.</h5>
                            <p>If there is a shortage of drivers within an area, we’ll alert drivers nearby to come down.</p>
                            <p><strong>Try this instead:</strong> Wait for a few minutes before trying to book your ride again, especially during peak hours.</p>
                            <h5>Other passengers may also have opted for your selected service type.</h5>
                            <p><strong>Try this instead:</strong> If you urgently need a ride, we suggest that you try other service types. TechGo offers a wide range of ride services, and there may be available drivers in other service types who can accept your booking.</p>
                            <h5>It is raining heavily.</h5>
                            <p>If there is bad weather causing poor traffic conditions, it may be likely that our drivers are unable to accept rides at that moment.</p>
                            <p><strong>Try this instead:</strong> Wait until the weather improves, before trying to book your ride again.</p>
                            <h5>Your internet connection may be unstable.</h5>
                            <p>We may not be able to process your booking request if the connection keeps breaking up.</p>
                            <p><strong>Try this instead:</strong> Make sure that your device has access to a stable Wi-Fi connection, or that your mobile data connection is switched on.</p>
                        </div>
                    </div>       
                </div>
            </div>
        </div>
        
    </div>