<div class="container mt-5" style="background-color: #190a70;">
        <div class="card mx-auto" style="width: 100%;">
            <div class="card-header text-center">Sign in</div>
            <div class="card-body">
                <form action="#" method="POST">
                    <h4 class="text-center">Choose an account type:</h4>
                    <div class="form-group row">
                        <div class="col-3"></div>
                        <button class="btn btn-block col-3 mb-3 text-center">
                            <img src="images/driver.png" width="80%" height="width">
                            <br>
                            <label class="text-center">Driver</label>
                        </button>
                        <button class="btn btn-block col-3 mb-3 text-center">
                            <img src="images/customer.png" width="80%" height="width">
                            <br>
                            <label class="text-center">Customer</label>
                        </button>
                        <div class="col-3"></div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-lg-4">Email or Phone Number:</label>
                        <input id="username" type="email" name="username" class="form-control col-lg-7 ml-3">
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-lg-4">Password:</label>
                        <input id="password" type="password" name="password" class="form-control col-lg-7 ml-3">



                    </div>
                    <div class="form-check">
                        <div class="row">
                            <div class="col-6">
                                <input type="checkbox" class="form-check-input" id="remember">
                                <label class="form-check-label" for="remember">Remember me</label>
                            </div>
                            <div class="col-6 text-right">
                                <label class="mr-4"><a href="#">Forgot password?</a></label>
                            </div>
                        </div>


                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary px-5">Log in</button>
                    </div>
                </form>
                <hr>

                <p class="text-center">Or sign in with:</p>
                <div class="row">
                    <div class="col-lg-3 text-center my-1">
                        <a href="#" class="fb btn" style="width: 100%;">
                            <i class="fa fa-facebook"></i>
                            Facebook
                        </a>
                    </div>

                    <div class="col-lg-3 text-center my-1">
                        <a href="#" class="gg btn" style="width: 100%;">
                            <i class="fa fa-google"></i>
                            Google
                        </a>
                    </div>

                    <div class="col-lg-3 text-center my-1">
                        <a href="#" class="yh btn" style="width: 100%;">
                            <i class="fa fa-yahoo"></i>
                            Yahoo
                        </a>
                    </div>

                    <div class="col-lg-3 text-center my-1">
                        <a href="#" class="tt btn" style="width: 100%;">
                            <i class="fa fa-twitter"></i>
                            Twitter
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>