<div class="container mt-5" style="background-color: #190a70;">
    <form method="POST" action="/test">
        <input type="text" name="name" value="Bill">
        <button type="submit" id="decline" name="ok" value="decline">Decline</button>
        <button type="submit" id="accept" name="ok" value="accept">Accept</button>
    </form>
</div>