<div class="container border border-primary">
        <div class="row" style="text-align: center;">
            <div class="col-12">
                <p style="color: white;font-size: 80px;margin: 40px;text-align: center;">Our Transport Services</p>
            </div>
        </div>
        
        <div class="row rounded" style="background-color: white;padding-top: 40px;padding-bottom: 40px;">
            <div class="container text-center">
                <h3>Ride Services</h3>
            </div>
            <div class="col-6 col-md-4 " style="text-align: center;">
                <img src="./images/TechGotaxi.png" width="100vw" height="100vw">
                <h4 class="why">TechGoTaxi</h4>
                <p class="why"> &emsp;Get a taxi right from your doorstep</p>
            </div>
            <div class="col-6 col-md-4 " style="text-align: center;">
                <img src="./images/TechGocar.png" width="100vw" height="100vw">
                <h4 class="why">TechGoCar</h4>
                <p class="why"> &emsp; Private cars for your everyday needs</p>

            </div>
            <div class="col-6 col-md-4 " style="text-align: center;">
                    <img src="./images/justTechGo.png" width="100vw" height="100vw">                    
                    <h4 class="why">JustTechGo</h4>
                    <p class="why"> &emsp; Find the nearest car or taxi in a single tap</p>
            </div>
            
            <div class="container text-center pt-5">
                <h3>Other Services</h3>
            </div>
            <div class="col-6 col-md-4 " style="text-align: center;">
                <img src="./images/TechGobike.png" width="100vw" height="100vw">
                <h4 class="why">TechGoBike</h4>
                <p class="why"> &emsp;Beat the traffic fast at the most affordable prices</p>
            </div>
            <div class="col-6 col-md-4 " style="text-align: center;">
                <img src="./images/TechGorent.png" width="100vw" height="100vw">
                <h4 class="why">Rent</h4>
                <p class="why"> &emsp; Private cars for your everyday needs</p>
            </div>
            
            
        </div>      
        <div class="row" style="margin-top: 20px;">
            <div class="col-12" style="text-align: center;"><a href="/signup" class="btn btn-primary" style="width: 50%;">Register now</a>            </div>                    
        </div>  
        

    </div>