<div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-12">
                <p style="color: white;font-size: 80px;margin: 40px;text-align: center;">Why join TechGo</p>
            </div>
        </div>
        <div class="row rounded mx-auto" style="background-color: white;padding-top: 40px;padding-bottom: 40px;">
            <div class="col-12 col-md-4 " style="text-align: center;">
                <img src="./images/icon-freedom.png" width="100vw" height="100vw">
                <h2 class="why">Transport</h2>
                <p class="why"> &emsp; You are a student and spend half of your day at school? Be a part-time driver
                    during your free time! Even when you work full-time, you can always proactively manage your
                    schedule
                    to take care of your family, because you yourself are your own time-manager - there is no
                    regulation
                    on working time or targeted income.</p>
            </div>
            <div class="col-12 col-md-4 " style="text-align: center;">
                <img src="./images/icon-earn-1.png" width="100vw" height="100vw">
                <h2 class="why">High income</h2>
                <p class="why"> &emsp; Your efficiency wage could reach 24,000VNĐ/hour in case of part-time job or
                    10,000,000VNĐ/month in case of full-time job. There are rewarding prizes for efficient drivers
                    weekly and monthly. Your job and your income are absolutely legal.</p>

            </div>
            <div class="col-12 col-md-4 " style="text-align: center;">
                <img src="./images/icon-hours.png" width="100vw" height="100vw">
                <h2 class="why">Easy & Simple Sign-up</h2>
                <p class="why"> &emsp; Registration steps are simple: Fill in and submit the registration form Wait
                    for us to contact and instruct in the document preparation process Submit the documents at our
                    office (photocopies do not need to be notarized, but compared with the originals). You can drive
                    more safely with Grab personal accident insurance for drivers and passengers.</p>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-12" style="text-align: center;"><a href="/signup" class="btn btn-primary"
                    style="width: 50%;">Register now</a> </div>
        </div>
    </div>